@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  min-width: 100vw;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

@font-face {
  font-family: 'Vipnagorgialla';
  src: url("../public/fonts/Vipnagorgialla.otf") format('otf');
}

.title-font {
  font-family: 'Vipnagorgialla';
}